@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
	margin: 0;
	padding: 0;
	background-color: #1e1e1e; /* Dark background for body */
	color: #d4d4d4; /* Light text color */
	font-family: Arial, sans-serif;
	overflow: hidden;
}

.title
{
	display: inline;
	padding: 10px;
	font-family: "Roboto Mono"!important;
}
#container {
	display: flex;
	height: 67vh;
}

#editor-container {
	position: relative;
	flex: 1; 
}


#code {
	height: 100%;
	width: 100%;
	background-color: #1e1e1e; 
	font-family: "Roboto Mono"!important;
}

#preview {
	width: 40%;
	background-color: #252526; 
	color: #d4d4d4; 
	border-left: 1px solid #333; 
	font-family: "Roboto Mono";
	box-sizing: border-box;
	font-family: "Roboto Mono"!important;
	padding-left: 5px;  /* margin between hex line-number && editor */
	background-color: #0A090E;  /* editor background color */
}

#toolbar {
	display: flow-root;
	user-select: none;
}
.btn {
	float: right;
	margin: 5px;
	padding: 5px 10px;
	background-color: #007acc; /* Button color */
	color: white;
	border: none;
	cursor: pointer;
	z-index: 10;
	border-radius: 3px;
}

#btn:hover {
	background-color: #005999; /* Button hover color */
}

#log {
	height: 25vh;
	font-family: "Roboto Mono"!important;
}

.divider {
	height: 1px;
	width: 100%;
}

.row{
	float: left;
	height: 10px;
}

#counter {
	font-family: "Roboto Mono";
	font-size: 12px;
	background-color: #04020d;
	border: 1.5px solid #808080;
	border-radius: 5px;
	margin: 50px;
	float: right;
	position: relative;

	margin: 0px;
	padding: 6px 10px;
	transform: translate(-10px, -16px);
}
